@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 20px auto;
  box-shadow: 0 4px 30px gray;
  background: #fff;
  border-radius: 10px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f5f5f5;
}

.sidebar a {
  text-decoration: none;
  color: burlywood;
}

.sidebar a:hover {
  text-decoration: underline;
}

.profile-info {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.btn-green {
  background-color: burlywood;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-green:hover {
  background-color: black;
}

.sidebar-section {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sidebar-links p {
  margin: 10px 0;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  text-align: center;
  cursor: pointer;
}

.tab.active {
  background: #fff;
  border-bottom: 2px solid burlywood;
}

.content-section {
  margin-bottom: 20px;
}

.content-section p {
  margin: 10px 0;
}

.content-section a {
  text-decoration: none;
  margin-left: 10px;
  color: burlywood;
}

.content-section a:hover {
  text-decoration: underline;
}

.verified {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  padding: 2px 8px;
  background-color: burlywood;
  font-size: 12px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-logouT {
  color: red;
}
